<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= blogPost.title %></title>
  </head>
  <body>
    <h1><%= blogPost.title %></h1>
    <p><%= blogPost.body %></p>
    <a href="/blogPosts">All Blogs</a>
    <h2>Leave a comment:</h2>
    <form action="/blogPosts/<%= blogPost._id %>/comments" method="post">
      <label for="comment">Comment Body</label>
      <br />
      <input type="text" name="comment" id="comment" />
      <button>Post comment</button>
    </form>
    <ul>
      <% for(let comment of blogPost.comments ) { %>
      <li>
        <%= comment.body %>
        <form
          action="/blogPosts/<%= blogPost._id %>/comments/<%= comment._id %>?_method=DELETE"
          method="post"
          style="display: inline"
        >
          <button>&times;</button>
        </form>
      </li>
      <% } %>
    </ul>
  </body>
</html>
